:host {
  display: inline-block;
  margin-right: .125rem;
  white-space: nowrap;
  padding: 0 0.5rem;
  box-sizing: border-box;
}

.ng2-tag-input-remove {
  cursor: pointer;
  display: inline-block;
  padding: 0 .125rem;
}