<div [hidden]="!loading">
  Loading&hellip;
</div>

<form [hidden]="loading" #noteForm="ngForm">
  <div class="editor-wrapper" (scroll)=onScroll($event) [scrollTop]="scrollPercentage">
    <codemirror-editor
      [(ngModel)]="note.content"
      name="content"
      ></codemirror-editor>
  </div>
  <div class="control-bar">
    <tag-input
      [(ngModel)]="note.tags"
      name="tags"
      placeholder="Add an tag"
      delimiterCode="188">
    </tag-input>

    <button (click)="onDelete()">Delete</button>
  </div>
</form>

<note-preview
  [scrollPercentage]="scrollPercentage | round:2"
  [content]="note.content"></note-preview>
